{% extends 'news/base.html' %}
{% load filters %}

{% block content %}
    <h1>Поиск новостей</h1>
    <form method="get" action="{% url 'news:news_search' %}">
        <input type="date" name="date" placeholder="Позже даты (гггг-мм-дд)">
        <input type="text" name="title" placeholder="По названию">
        <input type="text" name="author" placeholder="По автору">
        <input type="submit" value="Искать">
    </form>
    <ul>
        {% for item in news %}
            <li>
                <a href="{% url 'news:news_detail' item.id %}">{{ item.title }}</a>
                ({{ item.pub_date|date:"d-m-Y H:i" }})
                {{ item.content|slice:":50" }}...
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ news.previous_page_number }}">предыдущая</a>
        {% endif %}
        <span class="current-page">
            Страница {{ news.number }} из {{ news.paginator.num_pages }}.
        </span>
        {% if news.has_next %}
            <a href="?page={{ news.next_page_number }}">следующая</a>
            <a href="?page={{ news.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
